.tasks-page {
  background-color: #f0f8ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h2 {
  color: #333;
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.subject-container, .type-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

button, input[type="button"] {
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #ddd; /* gray border */
  background-color: #c8e6c9; /* light green background */
  color: #388e3c; /* dark green text */
  cursor: pointer;
}

button.active {
  background-color: #2196f3; /* blue background */
  color: white; /* white text */
}

input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.date-time {
  display: flex;
  gap: 1rem;
}

button[type="submit"] {
  background-color: #059347; /* blue background */
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
}

.task-list {
  background-color: #fafafa;
  padding: 1rem;
  margin-top: 1rem;
}
